* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: rgb(69, 169, 226);
  margin: 5rem;
}

header {
  margin: 5rem 0rem 5rem;
  background: rgb(0, 0, 0);
}

.omg-suprise {
  transform: translate(25%, -30%);
}

#logo {
  color: darkgoldenrod;
  height: 1.8rem;
  width: 0rem;
}

#my-name {
  position: absolute;
  text-decoration: underline;
  transform: translate(90%, -329%);
  font-size: 3rem;
}

nav :hover {
  color: blue;
}

.clear {
  clear: both;
}

.link-color {
  color: rgb(69, 169, 226);
  margin: 0.75rem;
  text-decoration: none;
  float: right;
  font-size: 2rem;
}

.first-section {
  text-align: center;
}

.paragraph-one {
  max-width: 100%;
  min-width: 50%;
  font-size: 2rem;
  margin: 5rem;
}

.paragraph-two {
  text-align: center;
  max-width: 100%;
  min-width: 50%;
  font-size: 2rem;
  margin: 5rem;
}

.paragraph-three {
  max-width: 100%;
  min-width: 50%;
  font-size: 2rem;
  margin: 5rem;
}

h5 {
  text-align: center;
  font-size: 3rem;
}

ol li {
  text-align: center;
  font-size: 2rem;
}

.form-one {
  text-align: center;
  background: rgb(129, 219, 231);
  max-width: 20%;
  min-width: 20%;
  border: 10px solid;
  font-size: 2.1rem;
  font-style: oblique;
  padding: 2rem;
  margin: 5rem 45rem;
  transform: translate(60%);
}

.form-one button {
  border: solid;
  background: cyan;
  padding: 0.5rem 2rem;
  margin: 1rem 0rem 0rem 0rem;
  cursor: pointer;
}

button[type="button"]:hover {
  border: none;
  background-color: cyan;
}

input[type="text"]:hover {
  background-color: cyan;
}

input[type="text"]:focus {
  background-color: cyan;
}
